<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020</p>
            <div class="h5"> Johns Hopkins University </div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5"> Data Science -  Curso Especializado</div>                   
            <h4 class="category">En proceso
            </h4>
            <!--<ul>
              <li> Aditya Silver Oak Institute is GTU Affiliated and <b>ranks 7th</b> in Gujurat </li>
              <li>Completed B.E in Computer Engineering with <b>9.54 CGPA</b>.</li>
              <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
              <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li>
            </ul>-->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020</p>
            <div class="h5">Google Cloud/Coursera</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Cloud Architecture with Google Cloud -  Certificado Profesional</div>
            <div class="h5">Data Engineering with Google Cloud - Curso Especializado</div>
            <div class="h5">Architecting with Google Kubernetes Engine - Curso Especializado</div>
            <div class="h5">Cloud Engineering with Google Cloud - Curso Especializado</div>              
            <h4 class="category">En proceso
            </h4>
            <!--<ul>
              <li> Aditya Silver Oak Institute is GTU Affiliated and <b>ranks 7th</b> in Gujurat </li>
              <li>Completed B.E in Computer Engineering with <b>9.54 CGPA</b>.</li>
              <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
              <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li>
            </ul>-->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020 - 2021</p>
            <div class="h5">Universidad del Magdalena</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Especialización en desarrollo de software</div>
            <h4 class="category">Facultad de ingeniería
            </h4>
            <!--<ul>
              <li> Aditya Silver Oak Institute is GTU Affiliated and <b>ranks 7th</b> in Gujurat </li>
              <li>Completed B.E in Computer Engineering with <b>9.54 CGPA</b>.</li>
              <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
              <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li>
            </ul>-->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2014 - 2020</p>
            <div class="h5">Universidad del Magdalena</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Ingeniería de sistemas</div>
            <h4 class="category">Facultad de ingeniería
            </h4>
            <!--<ul>
              <li> Aditya Silver Oak Institute is GTU Affiliated and <b>ranks 7th</b> in Gujurat </li>
              <li>Completed B.E in Computer Engineering with <b>9.54 CGPA</b>.</li>
              <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
              <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li>
            </ul>-->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2006 - 2010</p>
            <div class="h5">Institución Educativa San Juan del Córdoba</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachillerato</div>
            <h4 class="category">Académico
            </h4>
            <ul>
              <li>
                Mejor promedio ponderado icfes sector oficial 2010 - Municipio de Ciénaga
              </li>
              <li>
                Galardonado mejor bachiler académico año 2010
              </li>
              <li>
                Mejor estudiante de grado por 6 años consecutivos
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>     
  </div>
</div>