<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>
    
    <div class="row">
            
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/sinfonia.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">SinfonIA</h4>
              <h5 class="card-text"><b>Technology :</b> Jquery,Bootstrap4 </h5>
              <!--<h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5>-->              
              <a href="https://alianzasinfonia.net.co/" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
              <!--<a href="https://github.com/mehulk05/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>-->              
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top"src="assets/images/xvfive.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">XVFive Web</h4>
              <h5 class="card-text"><b>Technology :</b> Reserved </h5>
              
              <!--<h5 class="card-text"><a href="http://msgc320.pythonanywhere.com/">View my Live Demo</a></h5>-->
              
              <a href="https://xvfive.com" target="_blank" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
              <!--<a href="https://github.com/mehulk05/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>-->
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/emetenjoy.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Emet Enjoy</h4>
              <h5 class="card-text"><b>Technology :</b> Reserved </h5>
              <!--<h5 class="card-text"><a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1"> Read Blog on this  Project</a></h5>-->
              <a href="https://emetenjoy.com" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
              <!--<a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>-->
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/xvfive2.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">XVFive App</h4>
              <h5 class="card-text"><b>Technology :</b> Reserved </h5>
              <!--<h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5>-->
              <a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
              <!--<a href="https://github.com/mehulk05/Matrimonial-Website" class="btn btn-primary stretched-link">GithubLink</a>-->
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/faswet2.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Faswet App</h4>
              <h5 class="card-text"><b>Technology :</b> Reserved</h5>
              <!--<h5 class="card-text"><a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a"> Read Blog on this  Project</a></h5>-->
              <a href="https://apps.apple.com/us/app/faswet/id1457853582?l=es&ls=1" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
              <!--<a href="https://github.com/mehulk05/Smart-Baby-Stroller-System.git" class="btn btn-primary stretched-link">GithubLink</a>-->
            </div>
          </div>
        </div>
      </div>     
      
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="blog-entry">
            <div class="card" >
              <img class="card-img-top" src="assets/images/unimag.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Unimagdalena PETI</h4>
                <h5 class="card-text"><b>Technology :</b> Reserved </h5>
                <!--<h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5>-->              
                <a href="https://ayudantias.unimagdalena.edu.co" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                <!--<a href="https://github.com/mehulk05/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>-->              
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>